.about-section {
   margin-top: 50px;
   margin-bottom: 50px;
   height: min-content;
   background-color: #7a25f3;
   padding: 20px 20px 20px 20px;

   .flex-description {
      margin-top: 50px;

      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
   }

   .about-text {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 50px;

      color: white;
      margin-left: 5%;
      margin-right: 5%;
      flex: 2;
   }

   Button {
      flex: 1;
   }
}

.purple-text {
   color: #7805f7;
   font-weight: 600;
}

.green-text {
   color: #61ce70;
   font-weight: 600;
}

.pink-text {
   color: #fb275d;
   font-weight: 600;
}
