.intro-heading {
	margin: 100px auto 100px auto;

	img {
		height: 250px;
		border-radius: 30%;
		margin-bottom: 50px;
	}

	span {
		font-weight: 600;
		font-size: 4vw;
	}

	.bold-purple {
		color: #7805f7;
		text-decoration: underline;
	}
}
